{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'home/images/favicon.png' %}" type="image/x-png" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Portfolio</title>
</head>
<body>
    <!--========== Scroll_Button ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>
    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="/home" class="nav__logo">Portfolio</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/home" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="/home/#project" class="nav__link">Projects</a></li>
                    <li class="nav__item"><a href="/blog" class="nav__link">Blog</a></li>
                    <li class="nav__item"><a
                            href="https://drive.google.com/file/d/1iSH2U_ria5Q4Qnd8Le_aoz7h5I57o3zv/view"
                            target="_blank" class="nav__link">Resume</a></li>
                    <li class="nav__item"><a href="/home/#contact" class="nav__link">Contact</a></li>
                    <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                </ul>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>
    <main class="l-main">
        <section class="menu section bd-container" id="project">
            <h2 class="section-title">{{post.title}}</h2>
            <div class="mb-1 text-muted">{{post.timeStamp}} by <a href="#">{{post.author}}</a>(<span > {{post.views}} views</span>)</p></div><br>
            <span class="menu__detail">{{post.content|safe }}</span><br>
        </section>
        <!--========== FOOTER ==========-->
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">@Code</a>
                    <span class="footer__description">"Develop a passion for learning. If you do, you will never cease
                        to grow."</span>
                    <div>
                        <a href="https://www.linkedin.com/in/rajamishra53" class="footer__social"><i class='bx bxl-linkedin'></i></a>
                        <a href="https://www.instagram.com/_code_exe/" class="footer__social"><i class='bx bxl-instagram'></i></a>
                        <a href="https://twitter.com/rajamishra_zip" class="footer__social"><i class='bx bxl-twitter'></i></a>
                        <a href="https://github.com/raja53a" class="footer__social"><i class='bx bxl-github'></i></a>
                    </div>
                </div>
                <div class="footer__content">
                    <h3 class="footer__title"></h3>
                    <ul>
                    </ul>
                </div>
                <div class="footer__content">
                    <h3 class="footer__title"></h3>
                    <ul>
                    </ul>
                </div>
            </div>
            <p class="footer__copy">&#169; 2020 @Code. All right reserved</p>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
        <script src="{% static 'home/js/particle.js' %}"></script>
        <script src="{% static 'home/js/main.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </main>
</body>
</html>